body {
    /* width: 90vw;
    height: 100vh; */
    background-image: url(../img/construccion.png);
    background-color: rgba(0, 0, 0, 0.808);
    background-size: cover;
    background-position: right top;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
  }

